{% extends 'base.html' %}

{% block content %}

<style>
body{
    background: #f1e3d3;
}

</style>
<body>
<div class="row row-cols-1 row-cols-md-2">
    {% for expo in expos %}
    <div class="col mb-4">
      <div class="card img-fluid" style="width:500px">
  <img class="card-img-top" src="{{expo.photo.url}}" alt="Card image" style="width:100%">
  <div class="card-img-overlay">
    <h4 class="card-title">{{expo.title}}</h4>
    <p class="card-text">{{expo.description}}</p>
    <a href="#" class="btn btn-primary">Voir expo</a>
  </div>
</div>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock %}