{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">

        <div class="col-12">
            <div class="card-columns">

<div class="card-container" data-toggle="modal" data-target="#portfolioModal1{{ painting.id }}">
                    <div class="card">
                        <img src="{{ painting.image.url }}" alt="">
                        <div class="overlay-title rounded">{{painting.title}}</div>
                        <div class="rounded overlay">
                            <a href="#" class="icon">
                                <i class="fas fa-expand fa-3x"></i>
                            </a>
                                   <button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>

                        </div>
                    </div>
</div>
</div>
</div>
            </div>

{% endblock %}